*{
    padding: 0;
    margin: 0;
}
body{
    padding: 2% 5%;
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
section{
    padding: 2% 0%;
}
article{
    padding: 2% 0%;
    margin: 2%;
}
#article1{
    margin: 2%;
    padding: 2% 1%;
    border: 1px black solid;
}
#article3{
    margin: 30px;
    padding: 10px;
    border-color: red;
    border-width: 0.2vh;
    border-style: solid;
}
#article4{
    margin: 3cm;
    padding: 2cm;
    border-width: 0.5vw;
    border-color: orange;
    border-style: solid;
    float: left;
}
.div-conteudo{
    padding: 2%;
    background-color: rgb(182, 167, 167);
    overflow: hidden;
}
.navegador-superior{
    background-color: gray;
    overflow: hidden;
}
.navegador-superior ul{
    list-style-type: none;
}
.navegador-superior ul li a{
    float: left;
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    width: 30%;
}
#boneco{
    width: 100px;
    height: 250px;
}
h1{
    color: rgb(65, 60, 60);
}
.minha-classe{
    color: rgb(134, 60, 60);
}
article section h3{
    font-size: 22px;
}
p{
    color: rgb(99, 88, 88);
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 18px;
    text-align: center;
}